# Build folders
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# Qt project configs
*.user
*.pro.user
*.autosave
*.log
*.tmp

# IDEs
.vscode/
.idea/

# Binaries
*.exe
*.dll
*.so
*.a
*.o
*.obj
*.out

# DB
*.db
*.sqlite
docs/html/clipboard.js
docs/html/cookie.js
docs/html/doxygen_crawl.html
docs/html/doxygen.css
docs/html/doxygen.svg
docs/html/dynsections.js
docs/html/index.html
docs/html/jquery.js
docs/html/menu.js
docs/html/menudata.js
docs/html/navtree.css
docs/html/navtree.js
docs/html/navtreedata.js
docs/html/navtreeindex0.js
docs/html/tabs.css
docs/html/search/search.css
docs/html/search/search.js
docs/html/search/searchdata.js
src.zip
