# Build folders
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# Qt project configs
*.user
*.pro.user
*.autosave
*.log
*.tmp

# IDEs
.vscode/
.idea/

# Binaries
*.exe
*.dll
*.so
*.a
*.o
*.obj
*.out

# DB
*.db
*.sqlite
docs/html/clipboard.js
docs/html/cookie.js
docs/html/doxygen_crawl.html
docs/html/doxygen.css
docs/html/doxygen.svg
docs/html/dynsections.js
docs/html/index.html
docs/html/jquery.js
docs/html/menu.js
docs/html/menudata.js
docs/html/navtree.css
docs/html/navtree.js
docs/html/navtreedata.js
docs/html/navtreeindex0.js
docs/html/tabs.css
docs/html/search/search.css
docs/html/search/search.js
docs/html/search/searchdata.js
src.zip
docs/html/_ideology_model_8cpp.html
docs/html/_ideology_model_8h_source.html
docs/html/_ideology_model_8h.html
docs/html/_ideology_model_8h.js
docs/html/_main_window_8h_source.html
docs/html/_main_window_8h.html
docs/html/_main_window_8h.js
docs/html/_party_chart_widget_8cpp.html
docs/html/_party_chart_widget_8h_source.html
docs/html/_party_chart_widget_8h.html
docs/html/_party_chart_widget_8h.js
docs/html/_party_model_8cpp.html
docs/html/_party_model_8h_source.html
docs/html/_party_model_8h.html
docs/html/_party_model_8h.js
docs/html/_scoped_file_remover_8h_source.html
docs/html/_scoped_file_remover_8h.html
docs/html/_scoped_file_remover_8h.js
docs/html/_single_voter_ideology_widget_8cpp.html
docs/html/_single_voter_ideology_widget_8h_source.html
docs/html/_single_voter_ideology_widget_8h.html
docs/html/_single_voter_ideology_widget_8h.js
docs/html/_voter_8h_source.html
docs/html/_voter_8h.html
docs/html/_voter_8h.js
docs/html/_voter_ideology_chart_widget_8cpp.html
docs/html/_voter_ideology_chart_widget_8h_source.html
docs/html/_voter_ideology_chart_widget_8h.html
docs/html/_voter_ideology_chart_widget_8h.js
docs/html/_voter_model_8cpp.html
docs/html/_voter_model_8h_source.html
docs/html/_voter_model_8h.html
docs/html/_voter_model_8h.js
docs/html/addpartydialog_8cpp.html
docs/html/addpartydialog_8h_source.html
docs/html/addpartydialog_8h.html
docs/html/addpartydialog_8h.js
docs/html/addvoterdialog_8cpp.html
docs/html/addvoterdialog_8h_source.html
docs/html/addvoterdialog_8h.html
docs/html/addvoterdialog_8h.js
docs/html/annotated_dup.js
docs/html/annotated.html
docs/html/class_add_party_dialog-members.html
docs/html/class_add_party_dialog.html
docs/html/class_add_party_dialog.js
docs/html/class_add_party_dialog.png
docs/html/class_add_voter_dialog-members.html
docs/html/class_add_voter_dialog.html
docs/html/class_add_voter_dialog.js
docs/html/class_add_voter_dialog.png
docs/html/class_ideology_model-members.html
docs/html/class_ideology_model.html
docs/html/class_ideology_model.js
docs/html/class_ideology_model.png
docs/html/class_main_window-members.html
docs/html/class_main_window.html
docs/html/class_main_window.js
docs/html/class_main_window.png
docs/html/class_party_chart_widget-members.html
docs/html/class_party_chart_widget.html
docs/html/class_party_chart_widget.js
docs/html/class_party_chart_widget.png
docs/html/class_party_model-members.html
docs/html/class_party_model.html
docs/html/class_party_model.js
docs/html/class_party_model.png
docs/html/class_single_voter_ideology_widget-members.html
docs/html/class_single_voter_ideology_widget.html
docs/html/class_single_voter_ideology_widget.js
docs/html/class_single_voter_ideology_widget.png
docs/html/class_voter_ideology_chart_widget-members.html
docs/html/class_voter_ideology_chart_widget.html
docs/html/class_voter_ideology_chart_widget.js
docs/html/class_voter_ideology_chart_widget.png
docs/html/class_voter_model-members.html
docs/html/class_voter_model.html
docs/html/class_voter_model.js
docs/html/class_voter_model.png
docs/html/classes.html
docs/html/dir_0abdee562046be6f5823d1ca8c3fd13c.html
docs/html/dir_0abdee562046be6f5823d1ca8c3fd13c.js
docs/html/dir_7b5d38f1875f1b693f62ca6a108a1129.html
docs/html/dir_7b5d38f1875f1b693f62ca6a108a1129.js
docs/html/dir_99d0482cf009f9d97a0877749b817f19.html
docs/html/dir_99d0482cf009f9d97a0877749b817f19.js
docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba.js
docs/html/dir_bdeba5f06b852fec80257c0bf4c3c36e.html
docs/html/dir_bdeba5f06b852fec80257c0bf4c3c36e.js
docs/html/files_dup.js
docs/html/files.html
docs/html/functions_func.html
docs/html/functions_vars.html
docs/html/functions.html
docs/html/hierarchy.html
docs/html/hierarchy.js
docs/html/mainwindow_8cpp.html
docs/html/namespace_ui.html
docs/html/namespaces_dup.js
docs/html/namespaces.html
docs/html/struct_ideology-members.html
docs/html/struct_ideology.html
docs/html/struct_ideology.js
docs/html/struct_party-members.html
docs/html/struct_party.html
docs/html/struct_party.js
docs/html/struct_scoped_file_remover-members.html
docs/html/struct_scoped_file_remover.html
docs/html/struct_scoped_file_remover.js
docs/html/struct_voter-members.html
docs/html/struct_voter.html
docs/html/struct_voter.js
docs/html/search/all_0.js
docs/html/search/all_1.js
docs/html/search/all_2.js
docs/html/search/all_3.js
docs/html/search/all_4.js
docs/html/search/all_5.js
docs/html/search/all_6.js
docs/html/search/all_7.js
docs/html/search/all_8.js
docs/html/search/all_9.js
docs/html/search/all_10.js
docs/html/search/all_11.js
docs/html/search/all_12.js
docs/html/search/all_a.js
docs/html/search/all_b.js
docs/html/search/all_c.js
docs/html/search/all_d.js
docs/html/search/all_e.js
docs/html/search/all_f.js
docs/html/search/classes_0.js
docs/html/search/classes_1.js
docs/html/search/classes_2.js
docs/html/search/classes_3.js
docs/html/search/classes_4.js
docs/html/search/classes_5.js
docs/html/search/files_0.js
docs/html/search/files_1.js
docs/html/search/files_2.js
docs/html/search/files_3.js
docs/html/search/files_4.js
docs/html/search/files_5.js
docs/html/search/functions_0.js
docs/html/search/functions_1.js
docs/html/search/functions_2.js
docs/html/search/functions_3.js
docs/html/search/functions_4.js
docs/html/search/functions_5.js
docs/html/search/functions_6.js
docs/html/search/functions_7.js
docs/html/search/functions_8.js
docs/html/search/functions_9.js
docs/html/search/functions_10.js
docs/html/search/functions_11.js
docs/html/search/functions_a.js
docs/html/search/functions_b.js
docs/html/search/functions_c.js
docs/html/search/functions_d.js
docs/html/search/functions_e.js
docs/html/search/functions_f.js
docs/html/search/namespaces_0.js
docs/html/search/variables_0.js
docs/html/search/variables_1.js
docs/html/search/variables_2.js
docs/html/search/variables_3.js
docs/html/search/variables_4.js
docs/html/search/variables_5.js
docs/html/search/variables_6.js
docs/html/search/variables_7.js
docs/html/search/variables_8.js
