# Build folders
build/
build-*/
cmake-build-*/

docs/html/
docs/html-*/

CMakeFiles/
CMakeCache.txt

# Qt project configs
*.user
*.pro.user
*.autosave
*.log
*.tmp

# IDEs
.vscode/
.idea/

# Binaries
*.exe
*.dll
*.so
*.a
*.o
*.obj
*.out

# DB
*.db
*.sqlite
plantuml-1.2025.3.jar
